[submodule "freqhorn"]
	path = freqhorn
	url = https://github.com/freqhorn/freqhorn
[submodule "lig-chc"]
	path = lig-chc
	url = https://github.com/SaswatPadhi/LIG-CHC
[submodule "SyGuS-Org_tools"]
	path = SyGuS-Org_tools
	url = https://github.com/SyGuS-Org/tools.git
[submodule "z3-spacer"]
	path = z3-spacer
	url = https://github.com/Z3Prover/z3
